@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  box-sizing: border-box;
  width: "100%";
  margin:0;
  padding:0;
}

.bottom-border {
    border-width: 0 0 2px 0;
    border-color: gray;
  }
