@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  width: "100%";
  margin:0;
  padding:0;
}

.bottom-border {
    border-width: 0 0 2px 0;
    border-color: gray;
  }
